// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:        "../webfonts";

@import '~sweetalert2/src/sweetalert2.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import '~jquery-ui/themes/base/all.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~vue-search-select/dist/VueSearchSelect.css';

.router-link-active{
    background-color: rgb(108, 139, 173);
    color: rgb(243, 255, 235) !important;
}
